
$body-background-color:#fff;
$black-color: #000;
$logo-color:#21C1F3; //logo color rarely used
$primary-btn-color: radial-gradient(circle, #1D4195,#02246E);
$secondary-btn-color:#FCFCFC;
$header-title-color:linear-gradient(to bottom,#585884,#14141E); 